
/* --- Overall Styles ---*/

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.3em;
}

p,
figcaption h2,
footer p {
  color: #666;
}

header h1, 
.main-nav li,
h3 {
  color: #222;
  text-transform: uppercase;
}

.main-nav li a {
  text-decoration: none;
  font-weight: bold;
  color: #222;
}

.main-nav li a:visited {
  color: #222;
}

img {
  display: block;
  width: 100%;
}

#intro-image {
  width: 70%;
  margin: auto;
}

.midsection {
  background-color: #fff;
}

.clearfix1 {
  content: "";
  display: table;
  clear: both;
}

/* --- Header ---*/

header {
  text-align: center;
  width: 90%;
  margin: auto;
}

.page-title {
  display: block;
  padding-top: 10px;
  padding-bottom: 2px;
}

.main-nav {
  list-style-type: none;
  padding-left: 0px;
}

.main-nav li {
  display: block;
  background-color: #fff;
  padding: 10px 0px;
  margin-bottom: 7px;
  letter-spacing: 0.03em;
}

.main-nav li a {
  display: block;
  font-weight: bold;
}

/* --- Main Layout ---*/

/* --- General Wrapper--*/

.wrapper {
  width: 90%;
  margin: auto;
  text-align: center;
}

/* --- Intro Layout ---*/

.intro-content {
  padding-bottom: 20px;
}

/* --- Main Layout ---*/

.main-content {
  padding: 30px 0px 20px;
}

.main-content-heading {
  margin-bottom: 40px;
}

.portfolio-card {
  margin: 0px 0px 40px;
}

.portfolio-card img {
  margin-bottom: 40px;
}

/* --- Footer Layout ---*/

.main-footer {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

.personal-info {
  margin: 40px 0;
}

.footer-name {
  float: left;
  margin-top: 24px;
  margin-left: 10px;
  margin-bottom: 32px;
  color: #222;
}

.back-to-top {
  float: right;
  margin-top: 24px;
  margin-right: 10px;
  margin-bottom: 32px;
  text-decoration: none;
  font-weight: bold;
  color: #222;
}

.back-to-top:visited {
  font-weight: bold;
  color: #222;
}

.hidden-first {
  display: none;
}

@media (min-width : 768px) {

  /* --- General Styles---*/

  .clearfix {
    content : "";
    display : table;
    clear: both;
  }

  p {
    line-height: 1.4em;
  }

  /* --- Header Layout---*/

  .main-nav {
    width: 300px;
    margin: auto;
    padding-bottom: 10px;
  }

  .main-nav li {
    float: left;
    width: 33%;
    background-color: #f5f5f5;
  }

  /* --- Intro Layout---*/

  #intro-image {
    float: right;
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .intro-paragraph {
    float: left;
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }

    /* --- Portfolio Layout---*/

    .portfolio-card {
      float: left;
      width:  50%;
      padding-left: 20px;
      padding-right: 20px;
    }

    .portfolio-card img {
      margin-bottom: 30px;
    }

    .portfolio-card figcaption {
      width: 80%;
      margin: auto;
    }

    /* --- Footer Layout---*/

    .footer-wrapper {
      width: 80%;
      margin: auto;
    }

    .bottom-wrapper {
      width: 90%;
      margin: auto;
    }

    .footer-name {
      margin-left: 30px;
    }

    .hidden-second {
      display: none;
    }

    .hidden-first {
      display: block;
      float: right;
      margin-top: 24px;
      margin-right: 30px;
      margin-bottom: 32px;
      text-decoration: none;
      font-weight: bold;
      color: #222;
      
    }
    
    .back-to-top:visited {
      font-weight: bold;
      color: #222;
    }

}

@media (min-width : 1024px) {

  /* --- Header Layout --- */

  header {
    position: relative;
    height: 80px;
  }

  .page-title {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0px;
  }

  .main-nav {
    position: absolute;
    top: 15px;
    right: 10px;
    margin: 0px ;
  }

  .clearfix2 {
    content : "";
    display : table;
    clear: both;
  }

  /* --- Portfolio Layout --- */

  .portfolio-card {
    float: left;
    width:  33%;
    padding-left: 20px;
    padding-right: 20px;
  }

}